* {
    box-sizing: border-box;
}

body {
    background-color: #bbbdd3;
    margin: 0;
}

header {
    height: 55px;
    background-color: #5b5d68;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding: 0 20px;
    align-items: center;
}

.logo {
    cursor: pointer;
    margin: 0;
}

.logo > h1 {
    margin: 0;
}

.sign__in {
    cursor: pointer;
}

.main {
    position: relative;
    height: 94vh;
    background: center / cover no-repeat;
}

.main__title {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #5b5d68;
    font-size: 20px;
}

.movie__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie {
    background: center / cover no-repeat;
    width: 350px;
    height: 500px;
    border-radius: 3px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    position: relative;
    cursor: pointer;
}

/* CURRENT */

.current__movie {
    width: 900px;
    display: flex;
    color: #ffffff;
    font-size: 18px;
    font-family: "Calibri", sans-serif;
    font-weight: 500;
    text-align: center;
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.current__back {
    margin: 0;
    background: center / cover no-repeat;
    height: 100%;
    width: 100%;
    filter: blur(3px);
    opacity: 0.9;
}

.current__info {

}

.current__title {
    font-size: 20px;
}

.current__score {
    padding: 10px;
}

.current__release__date {
    padding: 10px;
}

.current__overview {
    padding: 20px;
}
